In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = None

In [2]:
inputs_train_with_ref_cat = pd.read_csv(r'D:\Datasets\LendingClub\inputs_train_with_ref_cat.csv', index_col=0)

loan_data_inputs_2015 = pd.read_csv(r'D:\Datasets\LendingClub\loan_data_inputs_2015.csv')
loan_data_targets_2015 = pd.read_csv(r'D:\Datasets\LendingClub\loan_data_targets_2015.csv')

C:\Users\User\AppData\Local\Temp\ipykernel_2712\2903440441.py:3: DtypeWarning: Columns (20,56) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_data_inputs_2015 = pd.read_csv(r'D:\Datasets\LendingClub\loan_data_inputs_2015.csv')

In [3]:
loan_data_inputs_2015_with_ref_cat = loan_data_inputs_2015[inputs_train_with_ref_cat.columns]

In [4]:
loan_data_inputs_2015_with_ref_cat.shape

(421094, 82)

In [5]:
inputs_train_with_ref_cat.shape

(373028, 82)

In [6]:
df_scorecard = pd.read_csv(r'C:\Users\User\Desktop\Credit-Risk-Modelling-Python\df_scorecard.csv', index_col=0)
df_scorecard

,index,Feature name,Coefficients,p_values,Original feature name,Score - Calculation,Score - Preliminary,Difference,Score - Final
0,0,Intercept,-0.568964,NaN,Intercept,384.349430,384.0,-0.349430,384.0
1,1,grade:A,1.111614,3.753207e-33,grade,84.534882,85.0,0.465118,84.0
2,2,grade:B,0.887381,1.946959e-47,grade,67.482615,67.0,-0.482615,67.0
3,3,grade:C,0.688519,9.294358e-34,grade,52.359761,52.0,-0.359761,52.0
4,4,grade:D,0.512656,2.323139e-21,grade,38.985957,39.0,0.014043,39.0
...,...,...,...,...,...,...,...,...,...
100,17,total_rev_hi_lim<=5K,0.000000,NaN,total_rev_hi_lim<=5K,0.000000,0.0,0.000000,0.0
101,18,annual_inc:<20K,0.000000,NaN,annual_inc,0.000000,0.0,0.000000,0.0
102,19,mths_since_last_delinq:Missing,0.000000,NaN,mths_since_last_delinq,0.000000,0.0,0.000000,0.0
103,20,dti>35,0.000000,NaN,dti>35,0.000000,0.0,0.000000,0.0
104,21,mths_since_last_record:Missing,0.000000,NaN,mths_since_last_record,0.000000,0.0,0.000000,0.0

In [7]:
inputs_train_with_ref_cat_w_intercept = inputs_train_with_ref_cat
inputs_train_with_ref_cat_w_intercept.insert(0, 'Intercept', 1)
cols = df_scorecard['Feature name'].values
cols = [c for c in cols if c not in ['grade:G', 'home_ownership:RENT_OTHER_NONE_ANY', 'addr_state:ND_NE_IA_NV_HI_FL_AL', 'verification_status:Verified', 'purpose:edu_sb_re_m_h_other', 'initial_list_status:f', 'term:60', 'emp_length:0', 'mths_since_issue_d:>84', 'int_rate:>20.281', 'mths_since_earliest_cr_line:<142', 'delinq_2yrs:>=4', 'inq_last_6mths:>6', 'open_acc:0', 'pub_rec:>=5', 'total_acc:<=25', 'acc_now_delinq:>=1', 'total_rev_hi_lim<=5K', 'annual_inc:<20K', 'mths_since_last_delinq:Missing', 'dti>35', 'mths_since_last_record:Missing']]
inputs_train_with_ref_cat_w_intercept = inputs_train_with_ref_cat_w_intercept[cols]
inputs_train_with_ref_cat_w_intercept.head()

,Intercept,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:ME_DC_WY_WV_VT_MS,addr_state:NY,addr_state:RI_NM_NC_OK_SD_VA_LA,addr_state:MD_NJ_MO,addr_state:CA,addr_state:ID_TN,addr_state:AZ_MI_UT_AR_PA_OH_MN_IN,addr_state:KY_MA_GA_WA_WI_DE,addr_state:OR_IL,addr_state:TX,addr_state:CT_SC_AK,addr_state:KS_CO_MT_NH,verification_status:Source Verified,verification_status:Not Verified,purpose:med_wed_vac,purpose:debt_consolidation,purpose:hi_mp_car,purpose:credit_card,initial_list_status:w,term:36,emp_length:1,emp_length:2-4,emp_length:5-6,emp_length:7-9,emp_length:10,mths_since_issue_d:<38,mths_since_issue_d:38-39,mths_since_issue_d:<40-41,mths_since_issue_d:<42-48,mths_since_issue_d:<49-52,mths_since_issue_d:<53-64,mths_since_issue_d:<65-84,int_rate:<9.548,int_rate:9.548-12.025,int_rate:12.025-15.74,int_rate:15.74-20.281,mths_since_earliest_cr_line:142-266,mths_since_earliest_cr_line:266-355,mths_since_earliest_cr_line:>355,inq_last_6mths:0,inq_last_6mths:1-2,inq_last_6mths:3-6,acc_now_delinq:0,annual_inc:20K-30K,annual_inc:30K-40K,annual_inc:40K-50K,annual_inc:50K-60K,annual_inc:60K-70K,annual_inc:70K-80K,annual_inc:80K-90K,annual_inc:90K-100K,annual_inc:100K-120K,annual_inc:120K-140K,annual_inc:>140K,mths_since_last_delinq:0-3,mths_since_last_delinq:4-30,mths_since_last_delinq:31-56,mths_since_last_delinq:>=57,dti:<=1.4,dti:1.4-3.5,dti:3.5-7.7,dti:7.7-10.5,dti:10.5-16.1,dti:16.1-20.3,dti:20.3-21.7,dti:21.7-22.4,dti:22.4-35,dti:>35,mths_since_last_record:0-2,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>=86
403678,1,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
241492,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
15864,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
320277,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
299829,1,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,1,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0

In [8]:
inputs_2015_train_with_ref_cat_w_intercept = loan_data_inputs_2015_with_ref_cat
inputs_2015_train_with_ref_cat_w_intercept.insert(0, 'Intercept', 1)
cols = df_scorecard['Feature name'].values
cols = [c for c in cols if c not in ['grade:G', 'home_ownership:RENT_OTHER_NONE_ANY', 'addr_state:ND_NE_IA_NV_HI_FL_AL', 'verification_status:Verified', 'purpose:edu_sb_re_m_h_other', 'initial_list_status:f', 'term:60', 'emp_length:0', 'mths_since_issue_d:>84', 'int_rate:>20.281', 'mths_since_earliest_cr_line:<142', 'delinq_2yrs:>=4', 'inq_last_6mths:>6', 'open_acc:0', 'pub_rec:>=5', 'total_acc:<=25', 'acc_now_delinq:>=1', 'total_rev_hi_lim<=5K', 'annual_inc:<20K', 'mths_since_last_delinq:Missing', 'dti>35', 'mths_since_last_record:Missing']]
inputs_2015_train_with_ref_cat_w_intercept = inputs_2015_train_with_ref_cat_w_intercept[cols]
inputs_2015_train_with_ref_cat_w_intercept.head()

,Intercept,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:ME_DC_WY_WV_VT_MS,addr_state:NY,addr_state:RI_NM_NC_OK_SD_VA_LA,addr_state:MD_NJ_MO,addr_state:CA,addr_state:ID_TN,addr_state:AZ_MI_UT_AR_PA_OH_MN_IN,addr_state:KY_MA_GA_WA_WI_DE,addr_state:OR_IL,addr_state:TX,addr_state:CT_SC_AK,addr_state:KS_CO_MT_NH,verification_status:Source Verified,verification_status:Not Verified,purpose:med_wed_vac,purpose:debt_consolidation,purpose:hi_mp_car,purpose:credit_card,initial_list_status:w,term:36,emp_length:1,emp_length:2-4,emp_length:5-6,emp_length:7-9,emp_length:10,mths_since_issue_d:<38,mths_since_issue_d:38-39,mths_since_issue_d:<40-41,mths_since_issue_d:<42-48,mths_since_issue_d:<49-52,mths_since_issue_d:<53-64,mths_since_issue_d:<65-84,int_rate:<9.548,int_rate:9.548-12.025,int_rate:12.025-15.74,int_rate:15.74-20.281,mths_since_earliest_cr_line:142-266,mths_since_earliest_cr_line:266-355,mths_since_earliest_cr_line:>355,inq_last_6mths:0,inq_last_6mths:1-2,inq_last_6mths:3-6,acc_now_delinq:0,annual_inc:20K-30K,annual_inc:30K-40K,annual_inc:40K-50K,annual_inc:50K-60K,annual_inc:60K-70K,annual_inc:70K-80K,annual_inc:80K-90K,annual_inc:90K-100K,annual_inc:100K-120K,annual_inc:120K-140K,annual_inc:>140K,mths_since_last_delinq:0-3,mths_since_last_delinq:4-30,mths_since_last_delinq:31-56,mths_since_last_delinq:>=57,dti:<=1.4,dti:1.4-3.5,dti:3.5-7.7,dti:7.7-10.5,dti:10.5-16.1,dti:16.1-20.3,dti:20.3-21.7,dti:21.7-22.4,dti:22.4-35,dti:>35,mths_since_last_record:0-2,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>=86
0,1,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [9]:
scorecard_scores = df_scorecard.copy()
scorecard_scores = scorecard_scores[scorecard_scores['Feature name'].isin(cols)]
scorecard_scores = scorecard_scores['Score - Final']
scorecard_scores = scorecard_scores.values.reshape(-1, 1)
scorecard_scores.shape

(83, 1)

In [10]:
y_scores_train = inputs_train_with_ref_cat_w_intercept.dot(scorecard_scores)
y_scores_train.head()

            0
403678  632.0
241492  650.0
15864   547.0
320277  600.0
299829  644.0

In [11]:
y_scores_2015 = inputs_2015_train_with_ref_cat_w_intercept.dot(scorecard_scores)
y_scores_2015.head()

       0
0  737.0
1  768.0
2  639.0
3  626.0
4  703.0

In [12]:
inputs_train_with_ref_cat_w_intercept = pd.concat([inputs_train_with_ref_cat_w_intercept, y_scores_train], axis=1)
inputs_2015_train_with_ref_cat_w_intercept = pd.concat([inputs_2015_train_with_ref_cat_w_intercept, y_scores_2015], axis=1)

In [13]:
inputs_train_with_ref_cat_w_intercept.columns.values[inputs_train_with_ref_cat_w_intercept.shape[1] - 1] = 'Score'
inputs_2015_train_with_ref_cat_w_intercept.columns.values[inputs_2015_train_with_ref_cat_w_intercept.shape[1] - 1] = 'Score'

In [14]:
inputs_2015_train_with_ref_cat_w_intercept.head()

,Intercept,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:ME_DC_WY_WV_VT_MS,addr_state:NY,addr_state:RI_NM_NC_OK_SD_VA_LA,addr_state:MD_NJ_MO,addr_state:CA,addr_state:ID_TN,addr_state:AZ_MI_UT_AR_PA_OH_MN_IN,addr_state:KY_MA_GA_WA_WI_DE,addr_state:OR_IL,addr_state:TX,addr_state:CT_SC_AK,addr_state:KS_CO_MT_NH,verification_status:Source Verified,verification_status:Not Verified,purpose:med_wed_vac,purpose:debt_consolidation,purpose:hi_mp_car,purpose:credit_card,initial_list_status:w,term:36,emp_length:1,emp_length:2-4,emp_length:5-6,emp_length:7-9,emp_length:10,mths_since_issue_d:<38,mths_since_issue_d:38-39,mths_since_issue_d:<40-41,mths_since_issue_d:<42-48,mths_since_issue_d:<49-52,mths_since_issue_d:<53-64,mths_since_issue_d:<65-84,int_rate:<9.548,int_rate:9.548-12.025,int_rate:12.025-15.74,int_rate:15.74-20.281,mths_since_earliest_cr_line:142-266,mths_since_earliest_cr_line:266-355,mths_since_earliest_cr_line:>355,inq_last_6mths:0,inq_last_6mths:1-2,inq_last_6mths:3-6,acc_now_delinq:0,annual_inc:20K-30K,annual_inc:30K-40K,annual_inc:40K-50K,annual_inc:50K-60K,annual_inc:60K-70K,annual_inc:70K-80K,annual_inc:80K-90K,annual_inc:90K-100K,annual_inc:100K-120K,annual_inc:120K-140K,annual_inc:>140K,mths_since_last_delinq:0-3,mths_since_last_delinq:4-30,mths_since_last_delinq:31-56,mths_since_last_delinq:>=57,dti:<=1.4,dti:1.4-3.5,dti:3.5-7.7,dti:7.7-10.5,dti:10.5-16.1,dti:16.1-20.3,dti:20.3-21.7,dti:21.7-22.4,dti:22.4-35,dti:>35,mths_since_last_record:0-2,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>=86,Score
0,1,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,737.0
1,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,768.0
2,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,639.0
3,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,626.0
4,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,703.0

In [15]:
# Dummy variables for score
inputs_train_with_ref_cat_w_intercept['Score:300-350'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 300) & (inputs_train_with_ref_cat_w_intercept['Score'] < 350), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:350-400'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 350) & (inputs_train_with_ref_cat_w_intercept['Score'] < 400), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:400-450'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 400) & (inputs_train_with_ref_cat_w_intercept['Score'] < 450), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:450-500'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 450) & (inputs_train_with_ref_cat_w_intercept['Score'] < 500), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:500-550'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 500) & (inputs_train_with_ref_cat_w_intercept['Score'] < 550), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:550-600'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 550) & (inputs_train_with_ref_cat_w_intercept['Score'] < 600), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:600-650'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 600) & (inputs_train_with_ref_cat_w_intercept['Score'] < 650), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:650-700'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 650) & (inputs_train_with_ref_cat_w_intercept['Score'] < 700), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:700-750'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 700) & (inputs_train_with_ref_cat_w_intercept['Score'] < 750), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:750-800'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 750) & (inputs_train_with_ref_cat_w_intercept['Score'] < 800), 1, 0)
inputs_train_with_ref_cat_w_intercept['Score:800-850'] = np.where((inputs_train_with_ref_cat_w_intercept['Score'] >= 800) & (inputs_train_with_ref_cat_w_intercept['Score'] < 850), 1, 0)

In [16]:
# Dummy variables for score
inputs_2015_train_with_ref_cat_w_intercept['Score:300-350'] = np.where((inputs_2015_train_with_ref_cat_w_intercept['Score'] >= 300) & (inputs_2015_train_with_ref_cat_w_intercept['Score'] < 350), 1, 0)
inputs_2015_train_with_ref_cat_w_intercept['Score:350-400'] = np.where((inputs_2015_train_with_ref_cat_w_intercept['Score'] >= 350) & (inputs_2015_train_with_ref_cat_w_intercept['Score'] < 400), 1, 0)
inputs_2015_train_with_ref_cat_w_intercept['Score:400-450'] = np.where((inputs_2015_train_with_ref_cat_w_intercept['Score'] >= 400) & (inputs_2015_train_with_ref_cat_w_intercept['Score'] < 450), 1, 0)
inputs_2015_train_with_ref_cat_w_intercept['Score:450-500'] = np.where((inputs_2015_train_with_ref_cat_w_intercept['Score'] >= 450) & (inputs_2015_train_with_ref_cat_w_intercept['Score'] < 500), 1, 0)
inputs_2015_train_with_ref_cat_w_intercept['Score:500-550'] = np.where((inputs_2015_train_with_ref_cat_w_intercept['Score'] >= 500) & (inputs_2015_train_with_ref_cat_w_intercept['Score'] < 550), 1, 0)
inputs_2015_train_with_ref_cat_w_intercept['Score:550-600'] = np.where((inputs_2015_train_with_ref_cat_w_intercept['Score'] >= 550) & (inputs_2015_train_with_ref_cat_w_intercept['Score'] < 600), 1, 0)
inputs_2015_train_with_ref_cat_w_intercept['Score:600-650'] = np.where((inputs_2015_train_with_ref_cat_w_intercept['Score'] >= 600) & (inputs_2015_train_with_ref_cat_w_intercept['Score'] < 650), 1, 0)
inputs_2015_train_with_ref_cat_w_intercept['Score:650-700'] = np.where((inputs_2015_train_with_ref_cat_w_intercept['Score'] >= 650) & (inputs_2015_train_with_ref_cat_w_intercept['Score'] < 700), 1, 0)
inputs_2015_train_with_ref_cat_w_intercept['Score:700-750'] = np.where((inputs_2015_train_with_ref_cat_w_intercept['Score'] >= 700) & (inputs_2015_train_with_ref_cat_w_intercept['Score'] < 750), 1, 0)
inputs_2015_train_with_ref_cat_w_intercept['Score:750-800'] = np.where((inputs_2015_train_with_ref_cat_w_intercept['Score'] >= 750) & (inputs_2015_train_with_ref_cat_w_intercept['Score'] < 800), 1, 0)
inputs_2015_train_with_ref_cat_w_intercept['Score:800-850'] = np.where((inputs_2015_train_with_ref_cat_w_intercept['Score'] >= 800) & (inputs_2015_train_with_ref_cat_w_intercept['Score'] < 850), 1, 0)

## Calculating PSI (population stability index) for features

In [22]:
PSI_calc_train = inputs_train_with_ref_cat_w_intercept.sum() / inputs_train_with_ref_cat_w_intercept.shape[0]

In [23]:
PSI_calc_2015 = inputs_2015_train_with_ref_cat_w_intercept.sum() / inputs_2015_train_with_ref_cat_w_intercept.shape[0]

In [24]:
PSI_calc = pd.concat([PSI_calc_train, PSI_calc_2015], axis=1)
PSI_calc

                      0         1
Intercept      1.000000  1.000000
grade:A        0.160744  0.174154
grade:B        0.293763  0.279287
grade:C        0.268760  0.286318
grade:D        0.164572  0.148789
...                 ...       ...
Score:600-650  0.288150  0.311918
Score:650-700  0.154106  0.262295
Score:700-750  0.067384  0.218709
Score:750-800  0.008168  0.045007
Score:800-850  0.000019  0.000057

[95 rows x 2 columns]

In [25]:
PSI_calc = PSI_calc.reset_index()
PSI_calc['Original feature name'] = PSI_calc['index'].str.split(':').str[0]
PSI_calc.columns = ['index', 'Proportions_Train', 'Proportions_New', 'Original feature name']

In [26]:
PSI_calc = PSI_calc[np.array(['index', 'Original feature name', 'Proportions_Train', 'Proportions_New'])]

In [27]:
PSI_calc

            index Original feature name  Proportions_Train  Proportions_New
0       Intercept             Intercept           1.000000         1.000000
1         grade:A                 grade           0.160744         0.174154
2         grade:B                 grade           0.293763         0.279287
3         grade:C                 grade           0.268760         0.286318
4         grade:D                 grade           0.164572         0.148789
..            ...                   ...                ...              ...
90  Score:600-650                 Score           0.288150         0.311918
91  Score:650-700                 Score           0.154106         0.262295
92  Score:700-750                 Score           0.067384         0.218709
93  Score:750-800                 Score           0.008168         0.045007
94  Score:800-850                 Score           0.000019         0.000057

[95 rows x 4 columns]

In [29]:
PSI_calc = PSI_calc[(PSI_calc['index'] != 'Intercept') & (PSI_calc['index'] != 'Score')]

In [30]:
# PSI = sigma[(%Actualj - %Expectedj) * ln(%Actualj/%Expectedj)]

In [31]:
PSI_calc['Contribution'] = np.where((PSI_calc['Proportions_Train'] == 0) | (PSI_calc['Proportions_New'] == 0), 0,
                                   (PSI_calc['Proportions_New'] - PSI_calc['Proportions_Train']) * np.log(PSI_calc['Proportions_New']/PSI_calc['Proportions_Train']))

C:\WPy64-31101\python-3.11.0.amd64\Lib\site-packages\pandas\core\arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [32]:
PSI_calc

,index,Original feature name,Proportions_Train,Proportions_New,Contribution
1,grade:A,grade,0.160744,0.174154,0.001074
2,grade:B,grade,0.293763,0.279287,0.000732
3,grade:C,grade,0.268760,0.286318,0.001111
4,grade:D,grade,0.164572,0.148789,0.001591
5,grade:E,grade,0.076675,0.082993,0.000500
...,...,...,...,...,...
90,Score:600-650,Score,0.288150,0.311918,0.001884
91,Score:650-700,Score,0.154106,0.262295,0.057538
92,Score:700-750,Score,0.067384,0.218709,0.178161
93,Score:750-800,Score,0.008168,0.045007,0.062866
94,Score:800-850,Score,0.000019,0.000057,0.000042

In [33]:
PSI_calc.groupby('Original feature name')['Contribution'].sum()

Original feature name
Score                          0.880878
acc_now_delinq                 0.000004
addr_state                     0.004363
annual_inc                     0.005308
dti                            0.078361
emp_length                     0.000000
grade                          0.006000
home_ownership                 0.003885
initial_list_status            0.169642
inq_last_6mths                 0.047005
int_rate                       0.058263
mths_since_earliest_cr_line    0.004265
mths_since_issue_d             2.380147
mths_since_last_delinq         0.006230
mths_since_last_record         0.053249
purpose                        0.003470
term                           0.003950
verification_status            0.034399
Name: Contribution, dtype: float64

In [34]:
PSI_calc[PSI_calc['Original feature name']=='mths_since_issue_d']

,index,Original feature name,Proportions_Train,Proportions_New,Contribution
34,mths_since_issue_d:<38,mths_since_issue_d,0.076069,1.0,2.380147
35,mths_since_issue_d:38-39,mths_since_issue_d,0.105614,0.0,0.000000
36,mths_since_issue_d:<40-41,mths_since_issue_d,0.103199,0.0,0.000000
37,mths_since_issue_d:<42-48,mths_since_issue_d,0.252603,0.0,0.000000
38,mths_since_issue_d:<49-52,mths_since_issue_d,0.116779,0.0,0.000000
39,mths_since_issue_d:<53-64,mths_since_issue_d,0.204789,0.0,0.000000
40,mths_since_issue_d:<65-84,mths_since_issue_d,0.099076,0.0,0.000000

In [35]:
# PSI
# 0 and 1
# 0 = no difference
# 1 = absolute difference
# < 0.1 = little to no difference
# 0.1 < PSI < 0.25 = little difference (no action taken)
# PSI > 0.25 = big difference (action taken)